.title {
  font-size: 26px;
  font-family: var(--font-family-english);
  letter-spacing: .08em;
  line-height: 1;
  text-transform: uppercase;
}
.titleWhite {
  color: var(--color-font-white);
}
.titleCenter {
  text-align: center;
  padding-left: .08em;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 36px;
  }
}